<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id vestibulum sem. Maecenas eu dapibus augue. Aliquam erat volutpat. Vivamus fermentum aliquet justo sollicitudin lobortis. Vestibulum vel lectus eu eros placerat ullamcorper. Etiam euismod lorem sed nunc elementum, non malesuada elit suscipit. Duis a eros dui. Nulla vel sem lorem. Donec consequat arcu lectus, non scelerisque risus eleifend nec. Quisque rhoncus imperdiet risus in tincidunt. Donec a finibus nibh. Mauris sed molestie nunc. Curabitur eget posuere metus. Praesent massa mauris, semper aliquam dolor facilisis, bibendum suscipit massa. Curabitur euismod aliquam tristique.
    </p>
</article>